.grid {
    display: flex;
    flex-direction: column;
    margin-top: 1vh;
}

.grid h4 {
    font-size: 24px;
    color: #FAFAFA;
    padding: 1vmin;
    margin-bottom: 2vh;
}

.grid .grid-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.grid .grid-container > * {
    padding: 2vmin;
}