.grid {
    display: flex;
    flex-direction: column;
    margin-top: 1vh;
}

.grid h4 {
    font-size: 24px;
    color: #FAFAFA;
    padding: 0vmin 3vmin 2vmin 3vmin;
    margin-bottom: 0;
}

.grid .grid-container {
    display: flex;
    flex-wrap: wrap;
}

.grid .grid-container > * {
    padding: 2vmin;
}