.album-info {
    display: flex;
    flex-direction: column;
}
.album-info-body {
    display: flex;
    flex-direction: row;
}
.album-info .album-info-body .album-container {
    flex-grow: 1;
}

 .album-info-loading {
    display: flex;
    height: 70vh;
    justify-content: center;
    align-items: center;
}

.album-info-loading h1 {
    color: #999999;
}