@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

html, body, #root {
    height: 100%;
    background: #161616;
}

.App {
    display: flex;
    flex-direction: row;
    font-family:  'Roboto', sans-serif;
    height: 100%;
}

a {
    text-decoration: none;
}