.text-edit {
    padding: 2vmin;
}


.text-edit input {
    background-color: transparent;
    border-style: none;
    color: #FAFAFA;
    border-bottom-style: solid;
    border-color: #999999;
    width: 100%;
    height: 3rem;
    font-size: 48px;
    font-weight: bold;
    padding-left: 0.8vmin;
    outline: none;
}

.text-edit input:focus {
    border-color: #1DB954;
    transition: all 0.3s ease;
}

.text-edit label {
    font-size: 18px;
    color: #ffffff;
    padding-left: 1vmin;
}